.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  margin-top: -30px;
}

.imgContainer {
  width: 500px;
}

.main {
  width: 450px;
}

#petPhoto {
  border-radius: 10px;
  object-fit: cover;
  width: 450px;
  height: 500px;
  position: relative;
}

.favContainer {
  position: absolute;
  margin-top: -70px;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.mainCard {
  border-radius: 5px;
}

.mainBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descriptionCard {
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
}

.dataBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    width: 95%;
    padding: 15px 0;
    height: 90%;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
  }

  .imgContainer {
    width: auto;
    margin-bottom: 20px;
  }

  #petPhoto {
    width: 95%;
    height: auto;
    object-fit: scale-down;
  }

  .favContainer {
    width: 90%;
  }

  .main {
    width: 95%;
  }
}
